doctype html
html(lang="en")
  head
    title Identity streams
    script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css")
    link(rel="stylesheet", href="/app.css")

  body
    h1 Identity streams
    #map-wrapper
      #map
    ul(data-bind="foreach: messages")
      li(data-bind="text: $data")
    script(src="/js/app.js")
