doctype html
html(lang="en")
  head
    title Identity streams
    script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js")

  body
    h1 Identity streams
    ul(data-bind="foreach: messages")
      li(data-bind="text: $data")
    script(src="/js/app.js")
